.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 150px 30px 150px;
}

.nav-item {
    padding: 20px;
}

h1 {
    text-align: center;

}

.b {
    margin-bottom: 10px;
}

main {
    margin-left: 550px;
    margin-right: 700px;
}

main {
    background-color: #fff;
    padding: 40px;
    width: 250px;
}

form.b {
    display: flex;
    flex-direction: column;
}

div.n label,
div.n input {
    margin-bottom: 10px;
    width: 100%;
}

body {
    background-color: rgb(255, 255, 255);
}


.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.footer-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}