.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* reserved */

* {
    margin: 0px;
}

.red {
    color: red;
}

.btn {

    background-color: #2ecc71;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    color: white;
}




/*nav styles*/




.nav-title {
    font-size: 50px;
    font-weight: 700;
}

li {
    list-style: none;
    margin-left: 50px;

}

a {
    text-decoration: none;
    color: black;

}

.nav-item {
    display: flex;
    justify-content:


}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

/* Contact Page Style */


.contact-me {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
}

.contact {
    margin: 220px 190px;
    text-align: center;
}


.contact-info {
    font-size: 30px;
    padding-bottom: 20px;
}


.social {
    display: flex;
    padding: 20px
}

.letstalk {
    height: 700px;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: lab(95.63% -6.78 6.32 / 0.959);
}

.contact-talk {
    font-size: 30px;
    text-align: center;
}

.common-margin {
    margin-top: 20px;
}

.num {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}


























































.landing-page-footer-end {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}