.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 50px 150px 30px 150px;
}

.nav-item {
    padding: 20px;
}

.hover-img {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

.hover-img:hover {
    transform: scale(1.1);
}

main {
    margin-left: 200px;
    margin-right: 200px;
}
.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: rgb(255, 255, 255);
}


.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
