.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* reserved */

* {
    margin: 0px;
}

.red {
    color: red;
}

.btn {

    background-color: #2ecc71;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    color: white;
}



/*nav styles*/




.nav-title {
    font-size: 50px;
    font-weight: 700;
}

li {
    list-style: none;
    margin-left: 50px;

}

a {
    text-decoration: none;
    color: black;

}

.nav-item {
    display: flex;
    justify-content:


}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}




/*landing page*/





.landing-page-margin {
    margin: 100px 100px;


}

.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page-button {
    margin-top: 30px;
    font-weight: 700;

}


.landing-greating {
    font-weight: 500;
    font-size: 20px;

}

.landing-software {
    font-size: 50px;
    font-weight: bolder;
}


.landing-messages {
    font-size: 20px;
    font-weight: 500;
}


.landing-page-footer {
    margin: 120px 100px;
    display: flex;
}


.email {
    border-right: 2px solid;
    padding-right: 25px;
}


.phone {
    margin-left: 20px;
    border-right: 2px solid;
    padding-right: 25px;
    padding-left: 5px;

}


.location {
    margin-left: 20px;
    padding-left: 5px;
}


.landing-page-footer-end {
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
    font-size: 15px;
    text-align: center;
}